*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/src/main/cpp/CMakeList.txt
.externalNativeBuild
.cxx
/src/main/cpp/CMakeLists.txt